@inject WolfLeashDbContext Context

<div>
    <div style="display:flex; flex-direction: row; justify-content: left; align-items: center">
        @if (Client.Icon is not null)
        {
            <Icon Name="@((IconName)Client.Icon)" Class="me-1"/>
        }
        @if (!string.IsNullOrEmpty(Client.Alias))
        {
            if (_enableEdit)
            {
                <TextInput @onkeyup="@OnKeyUp" @bind-Value="@_inputText" Placeholder="@Client.Id"/>
            }
            else
            {
                @Client.Alias
            }
        }
        else
        {
            if (_enableEdit)
            {
                <TextInput @onkeyup="@OnKeyUp" @bind-Value="@_inputText" Placeholder="@Client.Id"/>
            }
            else
            {
                @Client.Id
            }
        }
        @if (_enableEdit)
        {
            <a @onclick="@OnSave"> <Icon Name="IconName.Floppy"/></a>
        }
        else
        {
            <a @onclick="() => _enableEdit = true"> <Icon Name="IconName.Pencil"/></a>
        }
    </div>
</div>
@code {
    [Parameter, EditorRequired] public Client Client { get; set; }
    private string _inputText = "";
    private bool _enableEdit = false;

    private async Task OnKeyUp(KeyboardEventArgs args)
    {
        if (args.Code is "Enter" or "NumpadEnter")
        {
            await OnSave();
        }
    }

    private async Task OnSave()
    {
        Client.Alias = _inputText;
        _enableEdit = false;
        Context.Clients.Update(Client);
        await Context.SaveChangesAsync();
    }
}